.major {
    font-size: 180;
}

.custom-edu-div {
    align-items: center; 
    gap: 30px; 
    clear: both; 
    margin-bottom: .75rem; 
    margin-inline-start: 1rem;
}

.custom-logo-span {
    display: flex; 
    /* background-color: rgb(255, 255, 255);  */
    background-color: var(--theme);
    position: absolute; 
    margin-top: 0rem;
    padding-top: 0rem;
    inset-inline-start: 1.4rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .custom-logo-span {
        inset-inline-start: 0.8rem;
    }
}

.custom-logo-img {
    height: 1.75rem;
    zoom: 0%;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.custom-edu-div .custom-h3 {
    margin-bottom: .25rem; 
    margin: 0; 
    padding-top: .4rem; 
    border: 0
}